.todo_item,.todo_item label,.todo_item span,.todo_item button {
    transition: 0.2s;
}

.todo_item{}

.todo_item label{
    margin: 10px auto;
}
.todo_item.checked label,.todo_item.checked span {
    text-decoration: line-through;
}
.todo_item.no-checked label{
    font-weight: 700;

}
.todo_item.checked .button_group button.edit_button{
    pointer-events: none;
    opacity: 0.5;
}
.todo_item input{
    display: none;
}
.todo_item .button_group{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.todo_item.checked .edit_button{
    pointer-events: none;
}
.todo_item .remove_button{

}