*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;

}
body {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  background: transparent;
  text-transform: uppercase;
  border: 2px solid lightgray;
  padding: 10px 20px;
  border-radius: 15px;
transition: 0.3s;
}

button:hover{
  color: #fff;
  border-color: transparent;
}

button.edit-button:hover{
  background-color: forestgreen;
}
button.add-button:hover{
  background-color: limegreen;
}
button.remove-button:hover{
  background-color: red;
}

input{
  border: 2px solid lightgray;
  padding: 7px 10px;
  border-radius: 15px;
  transition: 0.3s;
  font-size: 15px;
}
.disabled{
  pointer-events: none;
  opacity: 0.5;
}